@tailwind base;
@tailwind components;
@tailwind utilities;


.cluster-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    animation: glowPulse 2s infinite ease-in-out;
  }
  
  .cluster-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cluster-text {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    pointer-events: none;
  }
  
  /* 반짝임 애니메이션 */
  @keyframes glowPulse {
    0%, 100% {
      filter: drop-shadow(0 0 3px rgba(30, 136, 229, 0.8));
      transform: scale(1);
    }
    50% {
      filter: drop-shadow(0 0 10px rgba(30, 136, 229, 1));
      transform: scale(1.1);
    }
  }
  